*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
nav
{
	box-shadow: 0px 0px 1px 0px #000;
}
.nav-img
{
	width: 150px;
	height: 50px;
}
nav ul li a
{
	color:black;
}
#nav-bottom ul a
{
	padding:0px 20px;
	color:#e75480;
}
#nav-bottom ul a:hover
{
	box-shadow: 0px 0px 3px 0px #000;
}





/*============ Service Features Style Start ============*/
.service-heading-block{
	display:block;
	margin-bottom:30px;
	}
.title {
  display: block;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 10px;
}
.sub-title {
  font-size: 18px;
  font-weight: 100;
  line-height: 24px;
}
.feature-block {
  background-color: #fff;
  border-radius: 2px;
  padding: 15px;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 15px;
  transition:all ease .5s
}
.ms-feature:hover, 
.ms-feature:focus {
  background-color: #fafafa;
  box-shadow: 0 3px 4px 3px rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 3px rgba(0, 0, 0, 0.12);
}
.fb-icon {
  border-radius: 50%;
  display: block;
  font-size: 36px;
  height: 80px;
  line-height: 80px;
  text-align:center;
  margin:1rem auto;
  width: 80px;
  transition: all 0.5s ease 0s;
}
.feature-block:hover .fb-icon,
.feature-block:focus .fb-icon {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  /*transform: rotate(360deg);*/
}
.fb-icon.color-info {
  background-color: #5bc0de;
  color: #fff;
}
.fb-icon.color-warning {
  background-color: #eea236;
  color: #fff;
}
.fb-icon.color-success {
  background-color: #5cb85c;
  color: #fff;
}
.fb-icon.color-danger {
  background-color: #d9534f;
  color: #fff;
}
.feature-block h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 1rem 0 1rem;
}
.feature-block p {
  font-size: 16px;
}
.color-info {
  color: #46b8da;
}
.btn-custom{
  border: medium none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  margin: 5px 1px;
  outline: 0 none;
  padding: 8px 30px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
@media(max-width: 720px){
  .btn-custom{
    width: 100%;
    height: 50%;
  }
}
/*============ Service Features Style End ============*/

/*============ product Features Style End ============*/
#product img
{
  width:100%;
  height: 100%;
}

/*============ product Features Style End ============*/

/*============ about section style start ============*/
.aboutus-area {
    padding-top:10px;
     padding-bottom:10px;
}
/*-- aboutus Image --*/
.aboutus-image {
  margin: 0px;
  width: 480px; 
    height:500px;
}
  
@media only screen and (min-width: 768px) and (max-width: 2400px) {
   #about #about-child
			{
				display: flex;
			}
		}
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .aboutus-image {
      margin-right: 35px;
      width: 345px; } 
		      
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .aboutus-image {
      margin-bottom: 30px;
      float: none;
      width:100%; }
       }
  @media only screen and (max-width: 767px) {
    .aboutus-image {
      margin-bottom: 30px;
      margin-right: 0;
      float: none;
      width: auto;  }
         .hidden-sm {
      display: block!important;
      width: 340px;
      height: 85%;
  }
  }
  .aboutus-image img {
      height:100%;
    width: 100%; }

/*-- aboutus Content --*/
.aboutus-content h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  margin-bottom: 2px; }
  @media only screen and (max-width: 479px) {
  	.aboutus-image img {
      height:100%;
    width: 100%; }
    .aboutus-content h2 {
      font-size: 30px;
      line-height: 30px; } }
  .aboutus-content h2 span {
    color: #46b8da; }

.aboutus-content h4 {
  font-size: 18px;
  font-weight: 500;
  color: #9b9b9b;
  margin-bottom: 23px; }

.aboutus-content p {
  font-size: 16px;
  line-height: 27px; }
  
 /*-- counter --*/
.single-counter {
  border:none;
  margin-top: 32px;
  float: left;
  width: 100%; }
   .single-counter {
    float: left;
    width: 25%;
    padding: 28px 15px 28px; }
    @media only screen and (max-width: 767px) {
      .counter .single-counter {
        width: 50%; }
      
    .counter .single-counter + .single-counter {
      border-left: none }
    .counter .single-counter h2 {
      font-size: 30px;
      color: #71b100;
      line-height: 24px;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 8px; }
    .counter .single-counter p {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0;
      color: #8f8f8f; }
  }
/*============ about section style End ============*/

/*============ footer section style start ============*/
footer
{
	padding:50px 0px;
	box-shadow: 0px 0px 1px 0px #000;
	margin-top: 50px;
}
.footer-area .footer-tittle h4{color:#000;font-size:20px;margin-bottom:29px;font-weight:500;text-transform:capitalize;font-family:"Roboto",sans-serif}
.footer-area .footer-tittle ul li{color:#012f5f;margin-bottom:15px;list-style :none;}
.footer-area .footer-tittle ul li i{padding:0px 5px;}
.footer-area .footer-tittle ul li a{color:#868c98;font-weight:300;text-decoration:none;}
.footer-area .footer-tittle ul li a:hover{color:#46b8da;padding-left:5px;}
.footer-area .footer-tittle .social-icon
{
	font-size: 18px;
	padding:0px 10px;
	box-sizing: border-box;
}
footer p
{
	margin-top: 40px;
}
/*============ footer section style End ============*/
@media only screen and (max-width: 768px)
{
   #service img
  {
    width:100%;
    height:100%;
  }
  #service .btn-custom
  {
    width:100% !important;
    /*font-size: 10px;*/
    margin: 0px 0px;
    padding: 8px 10px;
  }
  #service h4
  {
    font-size: 14px;
    margin: 0.5rem 0 0rem;
  }
  #service p
  {
    font-size:12px;
    margin-top: 0px;
  }
  #service .btn-custom
  {
    font-size: 12px;
    margin: 2px 0px;
  }
  #service h4
  {
    font-size: 16px;
    margin: 0.5rem 0 0rem;
  }
  #service p
  {
    font-size:14px ;
    margin-top: 0px;
  }
	#product img
  {
    width:100%;
    height:100%;
  }
  #product .btn-custom
  {
    font-size: 12px;
    margin: 2px 0px;
  }
  #product h4
  {
    font-size: 16px;
    margin: 0.5rem 0 0rem;
  }
  #product p
  {
    font-size:14px ;
    margin-top: 0px;
  }
  .footer-area .footer-tittle h4{color:#000;font-size:20px !important;margin-bottom:29px !important;font-weight:500;text-transform:capitalize;font-family:"Roboto",sans-serif}
}
@media only screen and (max-width: 400px)
{
   #service img
  {
    width:100%;
    height:100%;
  }
  #service .btn-custom
  {
    width:100% !important;
    /*font-size: 10px;*/
    margin: 0px 0px;
    padding: 8px 10px;
  }
  #service h4
  {
    font-size: 14px;
    margin: 0.5rem 0 0rem;
  }
  #service p
  {
    font-size:12px;
    margin-top: 0px;
  }
   #product .row .col
  {
    margin: 0px 0px !important;
    padding:0px 4px !important;
  }
  #product img
  {
    width:100%;
    height:100%;
  }
  #product .btn-custom
  {
    width:100% !important;
    /*font-size: 10px;*/
    margin: 0px 0px;
    padding: 8px 10px;
  }
  #product h4
  {
    font-size: 14px;
    margin: 0.5rem 0 0rem;
  }
  #product p
  {
    font-size:12px;
    margin-top: 0px;
  }
  #service .row .col
  {
    margin: 0px 0px !important;
    padding:0px 4px !important;
  }
  .footer-area .footer-tittle h4{color:#000;font-size:20px !important;margin-bottom:29px !important;font-weight:500;text-transform:capitalize;font-family:"Roboto",sans-serif;}
}